.support{
    background-image: url(https://image.freepik.com/free-vector/flat-customer-support-illustration_23-2148899114.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30%;
}

@keyframes zoom {
    0%,100%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(.7);
    }
}
